body    {
    background: black;
    margin-left: 10px;
    margin-right: 100px;
}

header{
    margin-top: 60px;
}

h1{
    color: red;
    font-family: fantasy;
}

h2 {
    color: white;
    font-family: fantasy;
}

p{
    color: whitesmoke;
    font-size: 18px;
}

footer{
    margin-bottom: 30px;
}

.img_padrao{
    margin-bottom: 10px;
    width: 300px;
}

.logo{
    width: 30px;
}